body{
  background-color: #242424;
  }
.App {
    font-family: sans-serif;
    text-align: center;
    padding: 20px;    
    color: grey;
    font-size: large;
  }  
  input {
    margin: 10px;
    padding: 5px;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  hr {
    margin: 10px 0;
  }
  